@charset "utf-8";



.classPDF {
	width: 800px;
  min-width: 55%;
}

.newPage {
  display:inline-block;
  page-break-after: always;
  width:100%;

}

.presentation {
  width: 800px;
  min-width: 55%;
  font-size: 14px;
  font-family: Trebuchet MS,Arial,Helvetica,sans-serif;
  /* margin-left: 30px; */
 
}

.presentationG {
	min-width: 50%;
  font-size: 16px;
  font-family: Trebuchet MS,Arial,Helvetica,sans-serif;
}



/* .pict {
	width: 540px;
	height: 247px;
} */
.logo {
	width: 540px;
}

.exportArea {
	width: 20%;
  float: right;
  clear: left;
}

.pageDiv {
  position: relative;
  display: block;
  height:100%;
}

.pageDiv span {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media only screen and (max-width: 768px)
{
	.presentation {
		width: 100%;
    max-width: 100%;
    margin-top: 150px;
    font-size: 1vmin;
	}
}
  .exportArea {
    width: 20%;
    float: right;
    clear: left;
    margin-top: 35px;
  }
  

  
	

td{
  word-wrap:break-word;
}
@media only screen and (max-width: 768px)
{
  table{
    width: 93%;
  }
}  


p.ppi1 {
     font-family: Georgia, "Times New Roman", Times, serif;
   	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0px;
	padding-top: 0px;
	/* padding-left: 2.5%; *//* 20px; */
	padding-right: 30px;
}
p.ppi2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.1em;
line-height: 1.5;
/* letter-spacing: 0px; */
/* padding-top: 0px; */
/* padding-left: 1.2em;
padding-right: 1.9em; */
color: #455560;
}

p.ppi3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: .8em;
  line-height: .8;
  color: #455560;
}

p.EPGreyMsg {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.1em;
  line-height: 1.5;
  padding: 16px;
  margin: 4%;
  width:86%;
  color: #455560;
  background-color: lightgrey;;
}


.divppi1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
line-height: 1.5;
letter-spacing: 0px;
padding-top: 0px;
/* padding-left: 2.5%; *//* 20px; */
padding-right: 30px;
}

h1.ppi1 {
  /* font-family: Georgia, "Times New Roman", Times, serif; */
  font-family: Trebuchet MS, Arial, Helvetica, sans-serif; 
	font-size: 36px; 
	text-align: left;
	letter-spacing: 1px;
	font-weight: 100;
	/* padding-left: 2.5%; *//* 20px; */
	padding-right: 30px;
	color: #455560;
}
h1.ppi2 {
  /* font-family: Georgia, "Times New Roman", Times, serif; */
  font-family: Trebuchet MS, Arial, Helvetica, sans-serif; 
	font-size: 36px; 
	text-align: left;
	letter-spacing: .06em;
	font-weight: 100;
	/* padding-left: 2.5%; *//* 20px; */
	padding-right: 1.9em;
	color: #455560;
}

h2.ppi1 {
  /* font-family: Georgia, "Times New Roman", Times, serif; */
   font-family: Trebuchet MS, Arial, Helvetica, sans-serif; 
   font-size: 25px; 
	color: #455560;
	text-align: left;
	line-height: 1.0;
	font-weight: 100;
	padding-top: 20px;
	/* padding-left: 2.5%; *//* 20px; */
	padding-right: 30px;
}
h2.ppi2 {
  /* font-family: Georgia, "Times New Roman", Times, serif; */
   font-family: Trebuchet MS, Arial, Helvetica, sans-serif; 
   font-size: 1.8em; 
	color: #455560;
	text-align: left;
	line-height: 1.0;
	font-weight: 100;
	/* padding-top: 1.1em; */
	/* padding-left: .73em;
	padding-right: 1.1em; */
}

.outputSectionTitle {
  font-family: Trebuchet MS, Arial, Helvetica, sans-serif; 
  font-size: 1.8em; 
 color: #455560;
 text-align: left;
 line-height: 1.0;
 padding-top: 1em;
 padding-bottom: .5em;
 font-weight: 100;
}

h4.ppi1 {
  /* font-family: Georgia, "Times New Roman", Times, serif; */
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px; 
	color: #455560;
	text-align: left;
	/* line-height: 1.0; */
	font-weight: 100;
	/* padding-top: 10px; */
	/* padding-left: 2.5%; *//* 20px; */
	padding-right: 30px;
}

h4.ppi2 {
  /* font-family: Georgia, "Times New Roman", Times, serif; */
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.05em; 
	color: #455560;
	text-align: left;
	/* line-height: 1.0; */
	font-weight: 100;
	/* padding-top: 10px; */
	/* padding-left: 2.5%; *//* 20px; */
	padding-right: 1.9em;
}

h3.ppi1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  /*  font-family: Trebuchet MS, Arial, Helvetica, sans-serif; */
   font-size: 18px; 
	color: #455560;
	text-align: left;
	line-height: 1.0;
	font-weight: 100;
	padding-top: 20px;
	/* padding-left: 2.5%; *//* 20px; */
	padding-right: 30px;
}
h3.ppi2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  /*  font-family: Trebuchet MS, Arial, Helvetica, sans-serif; */
   font-size: 1.15em; 
	color: #455560;
	text-align: left;
	line-height: 1.0;
	font-weight: 100;
	padding-top: 1.1em;
	/* padding-left: 2.5%; *//* 20px; */
	padding-right: 1.9em;
}

.EP {
  /* font-family: "Trebuchet MS", "Times New Roman", Times, serif; */
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 12px; 
	color: #455560;
	text-align: left;
	font-weight: 100;
	white-space: nowrap;
  border-collapse:collapse;
  padding:10px;
  height:25px;
}

.EP td {
  font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
  }
 
.EP th{
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  background: #d9d9d9;
  padding: 6px 6px 3px;
  height:30px;
}
 


h5.ppi1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  /*  font-family: Trebuchet MS, Arial, Helvetica, sans-serif; */
   font-size: 18px; 
	color: #455560;
	text-align: left;
	line-height: 1.0;
	font-weight: 100;
	/* padding-left: 2.5%; *//* 20px; */
	padding-right: 30px;
}

h5.ppi2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  /*  font-family: Trebuchet MS, Arial, Helvetica, sans-serif; */
   font-size: 1.1em; 
	color: #455560;
	text-align: left;
	line-height: 1.5;
	font-weight: 100;
	/* padding-left:  2.5%; *//* 20px; */
	padding-right: 1.9em;
  clear: both;
}

h6.ppi1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  /*  font-family: Trebuchet MS, Arial, Helvetica, sans-serif; */
   font-size: 16px; 
	color: #455560;
	text-align: left;
	line-height: 1.0;
	font-weight: 100;
	padding-left:  2.5%;/* 20px; */
	padding-right: 30px;
}
h6.ppi2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  /*  font-family: Trebuchet MS, Arial, Helvetica, sans-serif; */
   font-size: 1em; 
	color: #455560;
	text-align: left;
	line-height: 1.0;
	font-weight: 100;
	/* padding-left:  2.5%; *//* 20px; */
	padding-right: 1.9em;
}

hr.ppi1 {
    border: 0;
    height: .15em;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #455560, rgba(0, 0, 0, 0));
}

ul.ppi1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  /*  font-family: Trebuchet MS, Arial, Helvetica, sans-serif; */
 }

li.ppi1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  /*  font-family: Trebuchet MS, Arial, Helvetica, sans-serif; */
     font-size: 16px;
	line-height: 1.5;
}

.outputSectionTitleEP{
  font-weight: bold;
  
  text-align: left;
  border-bottom: none;
  background: #d9d9d9;
  
  padding: .7em .6em .7em .6em;
  height:1.4em;
}

.tableNeedsEP{
  font-weight: bold;
  
  text-align: center;
  border-bottom: none;
  background: #d9d9d9;
  
 
  padding: .7em .6em .7em .6em;
  height:1.5em;
}



table, thead, th, tfoot, tbody, td {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 1em;
  border-collapse: collapse;
}

th, td, tr {
  padding: .3em 0.6em 0.3em 0.6em;
  border: 1px solid rgba(0, 0, 0, 0.514); 
  border-collapse: collapse;
  /* color: #404d55; */
}




table.customization td, table.customization tr {
  background-color: rgb(226, 226, 226);
  border: none
}

table.INA {
  border: .06em solid #FFFFFF;
  background-color: #F3F7F4;
  width: 100%;
  text-align: left;
 /*  margin-left: 1em; */
  /* margin-left: 2.5%;;	 */
}
table.INA td, table.INA th {
  border: .2em solid #FFFFFF;
  
}

table.INA tr:nth-child(even) {
  background: #ECECEC;
}




 /* table.INA thead {
  background: #062953;
} */ 
/* table.INA thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: left;
  border-left: 3px solid #FFFFFF;
} */
table.INA thead th:first-child {
  border-left: none;
}

table.INA tfoot .links {
  text-align: right;
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: .12em .5em;
  border-radius: .32em;
}


table.INA thead{
  font-size: 1.1em;
  font-weight: bold;
  color: white;
  text-align: left;
  border-left: .12em solid #FFFFFF;
  border-left: none;
  background-color: #7399c6;
  /* margin-left: 20px; */
  margin-bottom: 0em;
  width: 88%;
  height: 1.2em;
  
}

table.INA_EP_Grids, table.INA_EP_Grids th, table.INA_EP_Grids td {
  border: 1px solid black;
  
}


.NeedsTable {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-left: 10px;
  width: 100%;
  min-width: 600px;
 }

 .customizationCmd {
	font-family: 'Trebuchet MS';
	font-size: 13px;
	text-align: left;
	padding: 4px 10px 4px 10px;
	margin-top: 6px;	
	margin-bottom: 8px;
	margin-left: 8px;
	/* border: 6px solid rgb(226, 226, 226);; */
	float: left;
	display: block;
	cursor: pointer;color: #2F4755;/*#63879c; /*#395662;*/
	-moz-border-radius: 3px;
	box-shadow: 0px 1px 3px  #979797;
	-moz-box-shadow: 0px 1px  3px  #979797;
	-webkit-box-shadow: 0px 1px  3px  #979797;
	-o-box-shadow: 0px 1px  3px  #979797;
	background-color: #2F4755;
	color: #FFF;
	border-radius: 3px;
	height:28px
}

.customizationCmd:hover
{
	color: #b3b1b1;
	
}
.customizationCmdsDiv {
	background-color:  rgb(226, 226, 226);
	height: 42px;
    border-radius: 3px;
    padding-right: 8px;
}



.paddingleft25 {
	padding-left:  2.5%;/* 20px; */
}
.textalignright {
/*   font-family: Georgia, "Times New Roman", Times, serif; */
  text-align: right;
}
.backgroundcolorFFFFFF {
	background-color: #FFFFFF;
}
.backgroundcolorDCE5F0{

background-color: #DCE5F0;
}
.textalignrightbackgroundcolorDCE5F0 {
	text-align: right;
	background-color: #DCE5F0;
}
.textalignrightwidth110 {
	text-align: right;
	width: 70px;
}

.textalignrightpaddingright20 {
	text-align: right;
	padding-right: 20px;
}

/* Create a two-column layout */
.column {
  float: left;
  width: 48%;
  padding: 0px;
  
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
  
}

@media only screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}

.noBorder {
  border-right-style:hidden;
  border-left-style:hidden;
  border-top-style:hidden;
  height:25px;
}




.pdfHeader {
  background-color: RGB(148,148,148);
  color: white;
  height: 1.75em;
  display:none;
  font-family: 'Times New Roman', Times, Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  text-align: center;
  padding-top: .4em;
  width:95%;
  /* margin-left: 2.5%; */
  margin-top: 1.5%;
  
 }

 .printOnly
 {
     display: none !important;
 }

 .presentationPrint
{
  display: none !important; 
}
 @media print{  body{    overflow:visible;  } }
 @media print
 {   
    .presentation {
		  width: 100%;
      font-family: 'Times New Roman', Times, Arial, Helvetica, sans-serif;
      font-size: 16px;
	  }
    
    .no-print, .no-print *
     {
         display: none !important;
     }
     .pdfHeader {
      display:inline-block;
     }
     .printOnly
      {
          display: block !important;
      }
      
 }
 
 .presentationItem {
  /*   border: 1px solid #D11242; */
/*     margin: 25px; */
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
}

.page {
    width: 100%;
    height: auto;
    clear:both;
}
/* 
.page {
  width: 816px;
  height: 1056px;
  overflow: hidden;
  border:solid 1px red;
}
.pageLand {
  width: 1056px;
  height: auto;
  overflow: hidden;
  border:solid 1px red;
}



 */


.page-wrapper {
    height: inherit;
    padding: 0px 30px;
}

.INA_MuiGrid-container {
    box-sizing: border-box;
    display: flex;

    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
}

.INA_MuiGrid-container .INA_MuiGrid-item {
    margin: 0;
  /*   flex-direction: column; */
  /*   display:flex */
}

.presentationHeader {    
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(148, 156, 161);
    color: white;
   height:28px;
   vertical-align: center;
}


h6.heading{
    -webkit-print-color-adjust: exact;
    color: white;
    /* margin: 10px 0px; */
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16.5px;
    display: block;
     margin: 3px;
}

.logo {
  /* margin-bottom: 3px; */
  max-width:250px;
  max-height:50px;
  width: auto;
  height: auto;
}

@media print{
  .logo {
    margin-top: 2px;
    max-height: 25px;;
  } 
}

.logoFirstPg{
  margin-bottom: 10px;
  max-width:250px;
  max-height:250px;
  width: auto;
  height: auto;
}
@media print{
  
}


.presentationPageContent {   
    font-size: 14px;     
    flex-direction: row;
    max-width: none;
    margin-top: 15px;
    flex: 1 0 auto;
}

.presentationFooterText {       
  font-size: 10px;
}



@media print {
.page {
  width: 816px;
  height: 1056px;
  overflow: hidden;
}

.presentationItem {
     margin: 25px;
}

.INA_MuiGrid-container {
  flex-direction: row;
}

.INA_MuiGrid-item {
  flex-direction: column;
}

.page-wrapper {
  padding: 25px 60px;
}
.presentationPageContent {   
  font-size: 12px;     
}
}

.glow {
  -webkit-animation: glow2 1s infinite alternate;
  animation: glow2 1s infinite alternate;
}
@keyframes glow2 {
  
  0%{box-shadow: 0 0 -20px 5px #cf7f00;}
  100%{box-shadow: 0 0 20px 5px #cf7f00;}
}

