html {
    -webkit-print-color-adjust: exact;
  }
  
  body {
    margin: 0px;
    padding: 0px;
  }
  
  .h2 {
    font-size: 15.5px;
  }
  
  .h3 {
    font-size: 14px;
  }
  
  .h4 {
    font-size: 13px;
  }
  
  .span,
  .p,
  .ul > li,
  .ol > li {
    font-size: 13px;
  }
  
   